.navbar {
    display: flex;
    position: static;
    width: 100%;
    height: 90px;
    margin: 10 auto;
    align-items: center;
    justify-content: space-between;
    font: 15px/2 normal white;
    background-color: #c3f3ff;
    border-style: solid;
    border-color: rgb(143, 202, 251);
}

/* .youchoose {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
} */

.youchoose {
    display: flex;
    flex-direction: column;
}

.youchoose > img {
    padding-bottom: 45px;
    height: 280px;
    width: 250px;
}

.navbar-left {
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    padding-left: 20px;
    vertical-align: middle;
}

.navbar-right {
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    vertical-align: middle;
}

.navbar > .navbar-mid {
    color: white;
    text-align: center;
    display: block;
    margin-left:auto;
    margin-right:auto;
    margin: 0 auto;
    width: 100px;
}

.login-buttons {
    display: flex;
    flex-direction: row;
}

.loggedin-right {
    display: flex;
}

.login-button {
    align-items: flex-end;
    font-weight: 100;
    text-decoration: none;
    padding: 5px 12px 6px 11px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 30px;
    line-height: 20px;
    white-space: nowrap;
    font-weight: 100;
    text-align: center;
    vertical-align: baseline;
    margin-right: 15px;
    color: rgb(255, 255, 255);
    border-color: rgb(233, 166, 166);
    background-color: rgb(241, 182, 182);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.login-button:hover {
    color: grey;
}

.signup-button {
    align-items: flex-end;
    padding: 5px 12px 6px 11px;
    cursor: pointer;
    font-size: 25px;
    border-radius: 10px;
    line-height: 20px;
    text-decoration: none;
    font-weight: 100;
    text-align: center;
    vertical-align: baseline;
    width: 136px;
    color: white;
    border-color: rgb(233, 166, 166);
    background-color: rgb(241, 182, 182);
    width: 120px;
    margin-right: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.signup-button:hover {
    color: grey;
}

.logout-button {
    align-items: flex-end;
    position: flex;
    width: 110px;
    margin-right: 50px;
    padding: 5px 12px 14px 11px;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    cursor: pointer;
    font-size: 28px;
    line-height: 20px;
    text-align: center;
    vertical-align: baseline;
    color: white;
    border-color: rgb(233, 166, 166);
    background-color: rgb(241, 182, 182);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 30px;
    margin-top: 7px;
}

.logout-button:hover {
    color: grey;
}

.location-buttons {
    width: 140px;
    height: 25px;
    margin-right: 20px;
    padding: 2px 12px 10px 11px;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    vertical-align: baseline;
    color: white;
    border-color: rgb(233, 166, 166);
    background-color: rgb(241, 182, 182);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 10px;
    margin-bottom: 2px;
}

.location-buttons:hover {
    color: grey;
}


.home-button {
    align-items: flex-end;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 35px;
    line-height: 20px;
    text-decoration: none;
    font-weight: 100;
    text-align: center;
    vertical-align: baseline;
    width: 136px;
    color: white;
    margin-right: 100px;
    border-color: rgb(233, 166, 166);
    background-color: rgb(241, 182, 182);
    width: 100px;
    height: 40px;
    padding: 10px 8px 2px 8px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.home-button:hover {
    color: grey;
}

.signup-form-header {
    font-size: 40px;
    font-weight: 700;
}

.signup-form-container {
    padding-top: 50px;
    text-align: center;
    background-color: #c3f3ff;
    max-width: auto;
    margin-left: 5px;
    margin-top: 10px;
    border-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 860px;
    margin-right: 322px;
    margin-left: 322px;
}

.login-form-container {
    padding-top: 50px;
    text-align: center;
    background-color: #c3f3ff;
    max-width: auto;
    margin-left: 5px;
    margin-top: 10px;
    border-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 860px;
    margin-right: 322px;
    margin-left: 322px;
}

.background {
    display: flex;
    justify-content: center;
}

.login-entire-box {
    width: 400px;
    height: 450px;
    background-color: rgb(255, 255, 241);
    align-items: center;
    border-radius: 10px;
    margin-top: 100px;
}

.signup-entire-box {
    width: 410px;
    height: 460px;
    background-color: rgb(255, 255, 241);
    align-items: center;
    border-radius: 10px;
    margin-top: 100px;
    padding-top: 10px;
    padding-bottom: 500px;
}

.login-input {
    width: 300px;
    box-sizing: border-box;
    font-size: 18px;
    padding: 5px 7px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: rgb(255, 255, 225);
}

.signup-input {
    width: 300px;
    box-sizing: border-box;
    font-size: 18px;
    padding: 5px 7px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: rgb(255, 255, 255);
}

.policy-paragraph {
    padding: 5px;
    font-size: 16px;
    width: 350px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    color: white;
    border-radius: 3px;
    background-color: rgb(241, 182, 182);
    border-color: rgb(233, 166, 166);
    box-shadow: 1px 1px 5px lightgrey;
    opacity: 90%;
}

.session-submit {
    background-color: rgb(233, 166, 166);
    box-sizing: border-box;
    width: 100px;
    font-size: 18px;
    padding: 8px 7px;
    border-radius: 3px;
    border-color: rgb(233, 166, 166);
    background-color: rgb(241, 182, 182);
    color: #fff;
    box-shadow: 1px 1px 5px lightgrey;
    font-family: Didot, serif;
}

.session-submit:hover {
    color: rgb(221, 220, 220);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.errors {
    text-align: center;
    list-style-type: none;
    min-height: 0px;
    height: auto;
    padding-top: 10px;
    margin-left: 22px;
    color: rgb(216, 5, 5);
    list-style-type: disc;
}

.demo-login {
    background-color: rgb(233, 166, 166);
    box-sizing: border-box;
    width: 150px;
    font-size: 18px;
    padding: 8px 7px;
    border-radius: 3px;
    border-color: rgb(233, 166, 166);
    background-color: rgb(241, 182, 182);
    color: #fff;
    box-shadow: 1px 1px 5px lightgrey;
}

.demo-login:hover {
    color: rgb(221, 220, 220);
}
.background {
    background-image: url('../Appetizers.png');
    background-color: #c3f3ff;
    width: 100%;
   height: 100%;
   object-fit:cover;
}

