/* [data-component="slideshow"] .slide {
	display: none;
  text-align: center;
}

[data-component="slideshow"] .slide.active {
	display: block;
}

img {
    width: 600px;
    height: 600px;
}

.slide-show {
    border-style: solid;
    height: 650px;
    display: flex;
    justify-content: center;
    margin-left: 200px;
    margin-right: 200px;
} */

.slideshow {
    min-width: 800px;
}

section.slideshow {
    align-items: center;
    margin-top: 10px;
    margin-left: 80px;
    margin-right: 80px;
    /* width: 80%; */
    border-style: double;
    border-color: rgb(194, 194, 194);
    border-radius: 7px
}

section.slideshow div.slide-holder {
    background-color: #c3f3ff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    overflow-y: auto;
}

section.slideshow section.current-slide {
    margin-top: 100px;
    padding-top: 10px;
    width: 700px;
    height: 450px;
    margin: 10px;
}

section.slideshow section.previous-slide,
section.slideshow section.next-slide {
    width: 180px;
    height: 150px;
}

section.slideshow section.slide div.slide-thumbnail {
    width: 100%;
    height: 100%;
    background: #d2fff8;
    background-size: cover;
    background-position: center;
    border-radius: 6px;
    box-shadow: 5px 5px 6px #b87de99c;
}

section.slideshow div.slideshow-controller {
    background: #c3f3ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section.slideshow div.slideshow-controller span {
    padding: 10px;
    width: 100px;
    border: none;
    background: #c09ddd;
    color: #f5f5f5;
    cursor: pointer;
    text-align: center;
    box-shadow: 3px 3px 5px #551d8283;
    user-select: none;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}

section.slideshow div.slideshow-controller span:hover {
    color: #ffc200;
    text-shadow: 3px 3px 5px #ffc200;
}

section.slideshow div.slideshow-controller span:active {
    color: #dfb7ff;
    text-shadow: 3px 3px 5px #541d82;
    background: #f9ffc2;
}

/* .splash {
    align-items: center;
} */

.splash-main {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    height: 500px;
    margin-left: 100px;
    margin-right: 100px;
    border-style: solid;
    border-color: rgb(209, 209, 209);
    margin-top: 20px;
    border-radius: 20px;
}

.splash-center {
    position: static;
    display: flex;
    justify-content: center;
    background-color: #c3f3ff;
    height: 480px;
    width: 600px;
    margin-left: 300px;
    margin-right: 100px;
    margin-top: 20px;
    overflow-y: auto;
    border-radius: 13px;
    min-width: 550px
}

.splash-middle {
    display: flex;
    justify-content: center;
    width: 100%;
}

.splash-pics {
    height: 300px;
    width: 300px;
    margin-top: 20px;
    position: static;
    margin-right: 300px;
}

.pic1 {
    margin-bottom: 25px;
    border-radius: 20px;
    min-width: 300px;
}

.pic2 {
    border-radius: 20px;
    min-width: 300px;
}

.text-background {
    background-color: rgb(255, 247, 247);
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80%;
    align-items: center;
    min-width: 300px;
}

.splash-text {
    text-align: center;
    font-size: 20px;
    color: rgb(42, 42, 42);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* background-color: ; */
    overflow-y: auto;
}

.about-me {
    font-size: 40px;
    font-weight: 700;
}

.splash-bottom {
    display: flex;
    justify-content: center;
    background-color: #c3f3ff;
    height: 200px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
}

.splash-bottom {
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    min-width: 1000px;
}

#splash-bottom {
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.developers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow-y: auto;
    overflow-x: auto;
    position: static;
}

.steven,
.juan,
.mason,
.brenda {
    position: static;
    padding-top: 20px;
    margin-left: 70px;
    margin-right: 70px;
}