.modal {
    display: none;
    /* display: block; */
}

.modal.active {
    display: block;
}

.modal-screen{
    position: fixed;
    background: rgba(0, 0, 0, 0.2);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.wheel-container{
    position: absolute;
    /* display: flex; */
    /* flex-direction: column; */
    font-size: large;
    /* align-items: center; */
    /* justify-content: space-between; */
    z-index: 3;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    width: min-content;
    /* height: 500px; */
    left: 0%;
    right: 0%;
    bottom: 0%;
    top: 5;
    margin: auto;
    /* justify-self: center; */
    padding: 30px;
    box-shadow: 0 0 4px #000000;
}

.wheel-container canvas{
    display: block;
    /* background-color: blue; */
}

#spin{
    /* background-color: aqua; */
    cursor: pointer;
    color: white;
    /* border-color: rgb(233, 166, 166); */
    background-color: rgb(241, 182, 182);
    box-shadow: 0 0 4px rgb(233, 166, 166);
    border-radius: 5px;
    padding: 5px;
    font-family: Didot, serif;
    position: absolute;
    font-weight: 700;
    top: 320px;
    /* left: 250px; */
    left: 0;
    right: 0;
    margin: auto;
    /* z-index: 4; */
}

#spin:hover {
    /* border-color: rgb(143, 103, 103); */
    background-color: rgb(230, 176, 176);
    box-shadow: 0 0 4px rgb(241, 182, 182);
}

.close-modal {
    cursor: pointer;
    position: absolute;
    top: 25px;
    right: 25px;
    padding: 1px 2px 1px 4px;
    text-align: center;
}

.close-modal:hover {
    cursor: pointer;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    top: 25px;
    right: 25px;
    
    border-radius: 5px;
}